<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LCCP" connectionString="Host=lccp-stg-instance.chitpsygtnat.rds.cn-northwest-1.amazonaws.com.cn;Username=lccpstg_dev_app;Password=WInter#White02827;Database=lccp_stg" />
		<add name="LCCP_WECHAT" connectionString="Host=lccp-main-cluster.cluster-chitpsygtnat.rds.cn-northwest-1.amazonaws.com.cn;Username=lccpmain_dev_app;Password=Blue#Orchids16370;Database=lccp_main" />
		<add name="LCCP_PATIENT" connectionString="Host=lccp-main-cluster.cluster-chitpsygtnat.rds.cn-northwest-1.amazonaws.com.cn;Username=lccpmain_dev_app;Password=Blue#Orchids16370;Database=lccp_main" />
	</connectionStrings>
	<appSettings>
		<add key="s3ak" value="AKIA6C2GIRPYF3UOMZHG" />
		<add key="s3sk" value="4ZfqesRbGIqCusIBowcE1TCxNQELx5Ald3ZxiTw7" />
		<add key="bucketName" value="lly-nw-com-lccp-d-s3-pri-01" />
		<add key="dbName" value="LCCP_WECHAT" />
		<add key="schemaName" value="dbo" />
		<add key="connectionString" value="Host=lccp-stg-instance.chitpsygtnat.rds.cn-northwest-1.amazonaws.com.cn;Username=lccpstg_dev_app;Password=WInter#White02827;Database=lccp_stg" />
	</appSettings>
</configuration>
