<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LCCP" connectionString="Host=localhost;Username=postgres;Password=123456;Database=lccp" />
		<add name="LCCP_WECHAT" connectionString="Host=localhost;Username=postgres;Password=123456;Database=lccp" />
		<add name="LCCP_PATIENT" connectionString="Host=localhost;Username=postgres;Password=123456;Database=lccp" />
	</connectionStrings>
	<appSettings>
		<add key="s3ak" value="AKIA6C2GIRPYF3UOMZHG" />
		<add key="s3sk" value="4ZfqesRbGIqCusIBowcE1TCxNQELx5Ald3ZxiTw7" />
		<add key="bucketName" value="lly-nw-com-lccp-d-s3-pri-01" />
		<add key="dbName" value="LCCP_WECHAT" />
	</appSettings>
</configuration>
